#seats-map-container {
    width: calc(100vw - 250px);
    margin-left: 250px;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#seats-map {
    font-size: 16px;
    margin-right: 100px;    /* Used to center content */
}

#seats-map tr td {
    text-align: center;
    padding: 4px;
}

#seats-map tr td p {
    width: 20px;
    height: 20px;
    padding: 8px;
    background-color: #8fff59;
}

#seats-map.auth tr td p:not(.bought) {
    cursor: pointer;
}

#seats-map.auth p.selected {
    background-color: yellow;
}

#seats-map p.booked {
    background-color: orange;
}

#seats-map p.bought {
    background-color: red;
    cursor: initial;
}

#status-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 8px;
}

#status-header svg {
    width: 30px;
    height: 30px;
    display: inline;
    fill: #8fff59;
}

/* Seats stat text container */
#status-container {
    width: 150px;
    display: flex;
    flex-direction: column;
}